.introsystem-container {
    width: 80%;
    height: fit-content;
    padding: 3% 5%;
    background-color: white;
    margin: 5% auto;
    border-radius: 10px;
    box-sizing: border-box;
  }

.introsystem-container h1{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.introsystem-container .data-table{
    width: 100%;
}
.introsystem-container .data-table tr th, .data-table tr td{
    padding: 5px;
    border: 1px solid black;
}