.login-container {
  width: 70%;
  height: fit-content;
  padding: 5% 10%;
  background-color: white;
  margin: 5% auto;
  border-radius: 10px;
  box-sizing: border-box;
}

.login-container .link {
  text-align: center;
  margin-bottom: 20px;
}

.login-container .tab {
  text-decoration: none;
  padding: 12px 40px;
  display: inline-block;
}

.login-container .divForm {
  width: 100%;
  padding: 5% 10%;
  padding-bottom: 0;
  margin: 0 auto;
}

.login-container #dangky {
  border: 2px solid black;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-container #dangnhap {
  background-color: rgb(180, 178, 178);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-container .tab:hover {
  text-decoration: underline;
}

.login-container #Signin {
  display: none;
}

.login-container .Nhap {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 50px;
  display: flex;
  flex-direction: column;
}

.login-container .Nhap span{
  display: none;
}

/* .Nhap label {
  text-align: left;
  padding-right: 20px;
} */

.login-container .forgot-password {
  float: right;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

.login-container .forgot-password:hover {
  text-decoration: underline;
  color: #0056b3;
}

.login-container .Nhap input {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
}

.login-container .Nhap > * {
  margin-bottom: 10px;
  padding: 5px;
}

.login-container .submition {
  width: 100%;
  text-align: center;
}

.login-container .submition input {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 6px gray;
}
